<!DOCTYPE html>
<html ng-app="PixlArt">
  <head>
    <meta charset="utf-8">
    <title>PixlArt</title>
    <link rel="stylesheet" href="/css/spectrum.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-cookies.js"></script>
    <script src="/js/spectrum.js" charset="utf-8"></script>
    <script src="/js/html2canvas.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body>
    <section ng-controller='UsersController'>
      <div id="welcome"  ng-show="welcome">
        <h3>Welcome to Pixel Picasso!</h3>
      </div>
      <div class="sign-up" ng-show="signUp">
        <h3>Sign Up:</h3>
        <form ng-submit="createUser()">
          <input type="text" ng-model="newUser.username" placeholder="...username">
          <input type="password" ng-model="newUser.password" placeholder="...password">
          <button type="submit">Submit</button>
        </form>
        <button ng-click="signUp = false; logIn = true">Already signed up? Click here to log in!</button>
        <h4 class="errorDiv" ng-show="signUpError">Username already taken</h4>
      </div>

      <div class="log-in"  ng-show="logIn">
        <h3>Log In:</h3>
        <form ng-submit="obtainToken()">
          <input type="text" ng-model="logInUser.username" placeholder="...username">
          <input type="password" ng-model="logInUser.password" placeholder="...password">
          <button type="submit">Submit</button>
        </form>
        <button ng-click="signUp = true; logIn = false">Need to sign up? Click here!</button>
        <h4 class="errorDiv" ng-show="logInError">Invalid username and/or password</h4>
      </div>

      <div class="log-out" ng-show="user._id">
        <form ng-submit="removeToken()">
          <button type="submit">Log Out</button>
        </form>
      </div>
    </section>

    <section ng-controller="PaintingsController">
      <div id="title">Pixel Picasso</div>
      <!-- <div class="painting-controls" ng-show="!gallery"> -->
        <div class="setColor buttons" ng-show="controls" data-color="none">
          <input type='text' id="custom"  />
        </div>
        <div id="eraserDiv" ng-show="controls" class="buttons">
          <button type="button" ng-click="defaultPixel()" id="eraserButton"><img  id="eraser" src="/images/Editing-Eraser-icon.png" alt=""></button>
        </div>
        <div id="toggleGalleryDiv"  ng-show="user._id" class="buttons">
          <button type="button"  ng-click="toggleGallery()" id="toggleGallery">Gallery</button>
        </div>
        <div id="newPaintingDiv" ng-show="controls" class="buttons">
          <button type="button" ng-click="newPaintingScreen()" id="new-painting">New</button>
        </div>
        <div id="toggleDiv" ng-show="controls" class="buttons">
          <button type="button" ng-click="toggleCanvas()" id="toggleButton">Toggle Canvas</button>
        </div>
        <div id="resetDiv" ng-show="controls" class="buttons">
          <button type="button" ng-click="resetCanvas()" id="resetButton">Reset Canvas</button>
        </div>
        <div id="saveButton">
          <input type="text" id="titleText" ng-model="newPainting.paintingTitle" ng-show="controls">
          <button  type="button" ng-show="controls" ng-click="createPainting()">Save Painting</button>
        </div>
      <!-- </div> -->
      <div class="selection" ng-show="pixelDiv">
        <div class='choices' id="pixelDiv">
          <h3>Please choose a pixel size for your canvas:</h3>
          <select id="pixelChoice">
            <!-- <option value="5">5</option>-->
            <option value="7">7</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="75">75</option>
          </select>
          <!-- <button id="pixelButton" ng-click="showInput()" type="button" name="button">Submit</button> -->
        </div>
        <div id="underPaintingDiv">
          <input type="text" ng-model="newPainting.url" id="underPaintingChoice" placeholder="...Painting url">
          <button id="underPaintingButton" ng-click="renderCanvas()" type="button" name="button">Submit</button>
          <h3>If you would like to add an image for tracing, enter the url above.</h3>
        </div>
      </div>

      <!-- <div ng-show="!gallery"> -->
        <div id="two-paintings" ng-show="controls">
          <div ng-show="newPainting.url.length>0" id="underPainting"><img id="underPaintingImage" src="{{newPainting.url}}" alt="">
          </div>
          <section id="canvas" width="1300" height="650">
            <div ng-repeat="pixel in pixels track by $index" class="square" style="width: {{findPixelSize(pixels.length)}}px; height: {{findPixelSize(pixels.length)}}px; background: #{{findPixel(pixel)}}" ng-mousedown="setListeners($event)" ng-mouseup="unsetListeners()" ng-mouseenter="brushPreviewOn($event)">
            </div>
          </section>
        </div>
      <!-- </div> -->

      <div id="modal" ng-show="gallery">
        <span id="close-modal" ng-click="toggleGallery()">X</span>
        <section id="gallery">
          <div id="galleryInner">
            <!-- <div id="closeGalleryDiv" class="buttons">
              <button type="button"  ng-click="toggleGallery()" id="closeGallery">Close Gallery</button>
            </div> -->
              <!-- <h2 id="paintingsGallery">Gallery</h2>
            <h4>Click on a painting to view and edit in the main canvas.</h4> -->
            <!-- <ul> -->
              <div ng-repeat="painting in paintings" class="newCanvas">
                <div  style="background-color: #E7E5DB; display: inline-block; width: 260px; height: 130px; margin: 2% 2% 0 0 ; border-image: url('/images/newFrame.png') 100 round ; border-image-width: 20px; border-image-outset: 13px; box-shadow: 9px 9px 20px black
                ;">
                  <img style="width: 260px; height: 130px;" src="{{painting.img}}" alt="" ng-click="showCanvas(painting.colors.split('#'), painting.url, painting.title)">
                </div>
                <h6>{{painting.title}}</h6>
                <button type="button" style="margin-top:2%;" ng-click="removePainting($index)">Remove</button>
              </div>
            <!-- </ul> -->
          </div>
        </section>
      </div>
    </section>
  </body>
</html>
